*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body,html{
    height: 100%;
    width: 100%;
   
}

body{
     background-color: rgb(112, 234, 236);
}

#main{
    height: 100%;
    width: 100%;
    padding: 30px;
    display: flex;
    flex-wrap: wrap;
    gap: 40px;
}

.card{
    height: 300px;
    width: 250px;
    background-color: #fff;
    padding: 25px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    border-radius: 10px;
    box-shadow: 10px 10px 20px rgb(56, 198, 200);
}

.card img{
    height: 80px;
    width: 80px;
    border-radius: 50%;
    object-fit: cover;
}

.card h1{
    font-size: 24px;
}

.card p {
    color: #555;
    
}

.card button{
    padding: 10px 30px;
    background-color: rgb(16, 213, 216);
    color: white;
    border: 2px solid rgb(16, 213, 216);
    font-size: 15px;
    font-weight: 700;
    border-radius: 50px;
    
}

.card button:hover{
    background-color: transparent;
    color: rgb(16, 213, 216);
}